# Setup & Git

### ðŸ¤” What is a virtualenv and why is it useful?

Your answer here:

### ðŸ¤”  How do you install a new python package? How can you later use it in your code?

Your answer here:

### ðŸ¤” What are the `git` commands to use to submit new code to a central repository on GitHub? Explain each step in your own words.

Your answer here:

### ðŸ¤”  How would you position yourself in a parent directory in the terminal? How can you go to the `~` (home) directory?

Your answer here:

# Python

### Lists

Given a list of numbers perform following operations:
- check how many elements does it have and store it in a `numbers_count` variable
- add a `5`
- remove the `7`

In [6]:
numbers = [-2, "2", 7, '-3']
# your code below

4

Now create a new list `positive_numbers` by iterating over `numbers` from previous task. It should consist of `int` only.

In [7]:
# your code below

[2, 7]

### Functions

Create a function which will take a `list` of numbers as an argument and return the sum of positive numbers from that list (look at previous challenge). Be careful, the input list might contain both `str` and `int`!

In [ ]:
# your code here

Call your function with `numbers` list (the one you updated) from previous challenge! Store the result in `positive_sum` variable.

In [ ]:
# function call

In [ ]:
# the cell should output True
positive_sum == 7

### Calling an API

Which package do you need to call an API with Python? How do you use it? Give an example with `https://opengraph.lewagon.com/?url=https://www.lewagon.com` below and store the result in `data` variable:

In [ ]:
# your code here

### Code refactoring

Rewrite the following loop using `list comprehension` and store the result in `lc_uppercase_fruits` variable.

In [ ]:
fruits = ['apple', 'banana', 'orange', 'strawberries', 'melon', 'pear']
uppercase_fruits = []
for fruit in fruits:
    if fruit[0] < 'n':
        uppercase_fruits.append(fruit.upper())

In [ ]:
# your code here

In [ ]:
# the cell should output True
lc_uppercase_fruits == ["APPLE", "BANANA", "MELON"]

# SQL

### ðŸ¤” What software can you use to perform some SQL queries?

Your answer here:

### ðŸ¤” How a typical SELECT query is built, with which keywords and in what order? Write some SQL boilerplate.

Your answer here:

### ðŸ¤” What is the difference between the INNER JOIN and LEFT JOIN?

Your answer here:

# Data Analysis

### Create a `ndarray` of integers with 2 dimensions and store it in a `A` variable. Check how many elements it has.

In [ ]:
# your code here

### Using the same array `A`  check for the `max` elements in its rows.

### We loaded for you the `tips` dataset. What's the type of it? How can you quickly explore it?

In [5]:
import seaborn as sns
tips = sns.load_dataset('tips')

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
# your answer & code here

###  How do you select the `total_bill` column? ðŸ’²ðŸ’²ðŸ’²

In [ ]:
# your code here

### Using `boolean indexing` create a new DataFrame where the `time` is  `Dinner`. How many rows does it have?

In [ ]:
# your code here

### Given dataframe `a_df` and `b_df` how would you perform a `left join` with `pandas`? (not a SQL question!)

In [ ]:
# your code here